@import 'vars';

// = TodoList =
.list{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $gut;
    box-shadow: $shadow;
    // border: 2px solid #bbb;
    border-radius: $round_5;
    margin-top: $gut_2;
    h3{
        flex: 1;
    }
    .todo-through{
        text-decoration: line-through;
    }
    .todo{
        text-decoration: none;
    }
}
.empty{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $gut;
    box-shadow: $shadow;
    border-radius: $round_5;
    margin-top: $gut_2;
}
